* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #111;
  color: #fff;
}
.searchBlock {
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: gray;
  box-shadow: 1px 1px 4px 1px #11111111;
  margin-top: 30px;
  border-bottom: 3px solid white;
}
input {
  width: 90%;
  padding: 15px;
  margin: 10px;
  display: block;
  border-radius: 15px;
}

#moviesBlock {
  display: flex;
  flex-wrap: wrap;
}
